.base {
  background-color: #efefef;
  padding: 2rem 0;
}

.inner {
  display: flex;
  align-items: baseline;
}

.logo {
  width: 20rem;
  color: #868688;
  font-size: 1.25rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav {
  padding-top: 1rem;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  li {
    list-style-type: none;
    margin: 0 0.5rem;
    padding: 0;
  }
}
